.tekst {
   line-height: 1.2;
       margin-top: 6vh;
       font-size: 1.1rem;
       overflow-y: hidden;
       text-align: center;
       width: fit-content;
       align-self: center;
       letter-spacing: 2px;

}


nika {

}
