<app-sidebar></app-sidebar>
<div class="site-container">
  <div class="site-content site-content--about" data-aos="fade-up" data-aos-duration="2000">
    <img class="nika" src="/assets/nika.jpeg" alt="zdjecie lekarza">
    <p class = "tekst"> <br> Nikoleta Kaszuba medycyną estetyczną, która jest jej wielką pasją zajmuje się od 2021 roku. Ukończyła w Polsce Podyplomową Szkołę Medycyny Estetycznej uzyskując tytuł lekarza medycyny estetycznej nadawany przez Polskie Towarzystwo Lekarskie i Collegium Medicum Uniwersytetu Mikołaja Kopernika w Bydgoszczy uzyskując tytuł lekarza chorób wewnętrznych</p>
  </div>
  <app-footer></app-footer>
</div>



<router-outlet></router-outlet>
