.mat-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  padding: 24px 36px;
  height: 170px;
  width: fit-content;
  background-color: transparent;

  .mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    font-size: 74px;
    font-weight: normal;
    margin-right: 15px;
    margin-bottom: -20px;
  }

  .company-name {
    font-size: 30px;
    font-weight: lighter;
    letter-spacing: 3px;
  }


  a {
    text-decoration: none;
    color: black;
  }

  .logoAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }

  .surname{
    font-weight: lighter;
    font-size: 17px;
    margin-left: 90px;
    margin-top: -20px;
    letter-spacing: 4px;
  }
}

@media (max-width: 600px) {
  .mat-toolbar {
    display: flex;
    align-items: center;
    padding: 14px 26px;
    height: 70px;
    width: fit-content;

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 30%;
      font-size: 74px;
      margin-right: 15px;
      margin-bottom: -10px;
    }

    .company-name {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 3px;
    }
    .surname{
      margin-left: 95px;
      margin-top: -20px;
      letter-spacing: 4px;
    }

  }}

@media (max-width: 500px) {
  .mat-toolbar {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    height: 70px;
    width: fit-content;

    .mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      height: 30%;
      font-size: 54px;
      margin-right: 15px;
      margin-bottom: -10px;
    }

    .company-name {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 3px;
    }

    .surname{
      margin-left: 69px;
      margin-top: -15px;
      letter-spacing: 2px;
      font-size: 13px;

    }

  }}


