.footer-container {
  height: 20vh;
  text-align: center;
  color: white;
  background-color: black;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
}
