
<footer class="mat-elevation-z2 footer-container">
  <div class="footer-content">
    <div class="siema-wszystkim">
      <p class ="napis"> MODERN ART AESTHETIC </p>
      <div class = "ulica"> ul. Borkowska 17A, Kraków


      </div>
      <a class="phone-link"href="tel: +48 577 989 250">+48 577 989 250</a>
      <a class="phone-link2"href="tel: +48 730 920 406">+48 730 920 406</a>
    </div>

    <div class="platnosc" > Akceptujemy płatność kartą.
    </div>
    <p>&copy; 2023 Modern Art Aesthetic. Wszelkie prawa zastrzeżone.</p>
  </div>
</footer>







