<app-sidebar></app-sidebar>

    <div class="site-container">
        <div class="site-content site-content--home1">
            <div class="site-content--home1__text">
                <h1>WELCOME TO THE HOME PAGE</h1>
                <p>Home is where the heart is</p>
            </div>
            <img class="site-content--home1__img" src="/assets/AdobeStock_137685540.jpeg" alt="">
        </div>


        <div class="site-container">
            <div class="site-content site-content--home2">
                <p>HOME</p>
            </div>
            <div class="site-container">
                <div class="site-content site-content--home3">
                    <p>HOME</p>
                </div>
                <app-footer></app-footer>
            </div>

        </div>


        <router-outlet></router-outlet>
