.site-content--home1 {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  &__img {
    z-index: -10;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%);
    width: auto;
    height: 100vh;
    align-self: flex-end;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;

  }
}

@media only screen and (max-width: 1300px) {
  .site-content--home1 {
    img {
      transform: translate(70%, -50%);
    }
  }
}

@media only screen and (max-width: 1100px) {
  .site-content--home1 {
    img {
      transform: translate(65%, -50%);
    }

  }
}

@media only screen and (max-width: 1000px) {
  .site-content--home1 {
    img {
      transform: translate(55%, -50%);
    }
    &__text {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, 0%);

    }
  }
}
