<app-sidebar></app-sidebar>

<div class="site-container">
    <div class="site-content site-content--home1">
        <div class="site-content--home1__text">
            <h1>WELCOME TO THE HOME PAGE</h1>
            <p>Home is where the heart is</p>
        </div>
        <img class="site-content--home1__img" src="/assets/AdobeStock_137685540.jpeg" alt="">
    </div>


    <div class="site-container">
        <div class="site-content site-content--home2">
            <h1>Modern Art Aesthetic</h1>
            <h2>Fusce sollicitudin lectus</h2>
            <p class="site-content--home2__text">Sed vestibulum est nulla, non mattis turpis efficitur ut.
                Vestibulum laoreet enim eget interdum commodo.
                Fusce ac condimentum risus. Nunc ut purus ac
                tortor consectetur laoreet sit amet at lectus.
                Nam a finibus enim. Proin id eros ut arcu dignissim tempor.
                Sed facilisis sed massa ac cursus. Mauris vel massa et
                nibh facilisis semper vitae a ligula. Duis pretium ex
                lectus. Donec dictum cursus velit, in pretium arcu sagittis
                sit amet. Sed fringilla diam ut erat faucibus blandit. Ut et
                leo luctus, feugiat justo quis, eleifend magna.
                <br>
                <br>
                Duis convallis nunc vel massa molestie iaculis.
                Donec sit amet erat scelerisque, fermentum nisi a,
                porttitor elit. Phasellus bibendum, purus et lacinia
                vehicula, ex felis pharetra nunc, eget ornare orci orci ut
                nunc. Morbi a arcu nulla. Nam faucibus dui sed sapien scelerisque,
                ac elementum lorem molestie. In aliquet auctor magna eget rhoncus.
                Cras condimentum purus sed eros elementum, quis posuere odio pulvinar.
                Curabitur auctor, ex quis sagittis dapibus, massa est iaculis nisl,
                at scelerisque orci arcu sit amet mi.
            </p>
            <p><strong class="site-content--home2__signature">Vestibulum tincidunt euismod commodo.</strong></p>
        </div>


        <div class="site-container">
            <div class="site-content site-content--home3">
                <h1>OPINIE NASZYCH PACJENTÓW</h1>
                <div class="site-content--home3__wrapper">

                    <div class="site-content--home3__box">
                        <p>Skorzystałam z zabiegu powiększenia ust. Doktor nadał im piękny kształt, symetrię i naturalny
                            wygląd. Zdecydowanie będę tu wracać.</p>
                        <p><strong>Anna Kowalska</strong></p>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </div>

                    <div class="site-content--home3__box">
                        <p>Skorzystałam z zabiegu powiększenia ust. Doktor nadał im piękny kształt, symetrię i naturalny
                            wygląd. Zdecydowanie będę tu wracać.</p>
                        <p><strong>Anna Kowalska</strong></p>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </div>

                    <div class="site-content--home3__box">
                        <p>Skorzystałam z zabiegu powiększenia ust. Doktor nadał im piękny kształt, symetrię i naturalny
                            wygląd. Zdecydowanie będę tu wracać.</p>
                        <p><strong>Anna Kowalska</strong></p>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </div>

                    <div class="site-content--home3__box">
                        <p>Skorzystałam z zabiegu powiększenia ust. Doktor nadał im piękny kształt, symetrię i naturalny
                            wygląd. Zdecydowanie będę tu wracać.</p>
                        <p><strong>Anna Kowalska</strong></p>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                        <mat-icon>star</mat-icon>
                    </div>
                </div>
            </div>


            <app-footer></app-footer>
        </div>

    </div>


    <router-outlet></router-outlet>
