.header-container {
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  z-index: 3;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}

@media only screen and (max-width: 1300px) {
  .header-container {
    width: 30vw;
  }
}

