<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="site-content site-content--prizes" data-aos="fade-up" data-aos-duration="2000">
  <h1 >CENNIK USŁUG GABINETU
    MEDYCYNY ESTETYCZNEJ</h1>

  <div class="site-content--prizes__tables-wrapper">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">MODELOWANIE UST</li>
      <li class="list-group-item">Modelowanie ust znieczulenie stomatologiczne <span>1000 zł</span></li>
      <li class="list-group-item">Nawilżenie ust <span>700 zł</span></li>

      <li class="list-group-item list-group-item-primary">HIALURONIDAZA</li>
      <li class="list-group-item">(usta - zabieg w znieczuleniu
        stomatologicznym) <span>700-1000 zł</span></li>

      <li class="list-group-item list-group-item-primary">WOLUMETRIA TWARZY</li>
      <li class="list-group-item">Modelowanie policzków 1ml<span>900 zł</span></li>
      <li class="list-group-item">Modelowanie policzków 2ml<span>1300 zł</span></li>
      <li class="list-group-item">Modelowanie żuchwy 2ml<span>1300 zł</span></li>
      <li class="list-group-item">Modelowanie żuchwy 3ml<span>1600 zł</span></li>
      <li class="list-group-item">Modelowanie żuchwy 4ml<span>2000 zł</span></li>
      <li class="list-group-item">Korekta brody 1ml<span>900 zł</span></li>
      <li class="list-group-item">Korekta brody 1ml<span>900 zł</span></li>
      <li class="list-group-item">,,Full Face”<span>3500 zł</span></li>
      <li class="list-group-item">,,Full Face” wersja Soft<span>2500 zł</span></li>

      <li class="list-group-item list-group-item-primary">TOKSYNA BOTULINOWA</li>
      <li class="list-group-item">Górne piętro twarzy 1 okolica<span>500 zł</span></li>
      <li class="list-group-item">Górne piętro twarzy 2 okolica<span>800 zł</span></li>
      <li class="list-group-item">Górne piętro twarzy 3 okolica<span>1000 zł</span></li>
      <li class="list-group-item">Zmarszczki królicze<span>300 zł</span></li>
      <li class="list-group-item">Zmarszczki palacza<span>300-500 zł</span></li>
      <li class="list-group-item">Uśmiech dziąsłowy<span>400 zł</span></li>
      <li class="list-group-item">Bruksizm<span>1000 zł</span></li>
      <li class="list-group-item">Broda brukowana<span>400 zł</span></li>
      <li class="list-group-item">Optymalizacja wydzielania sebum strefa ,,T” <span>700-1000 zł</span></li>
    </ul>

    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">BIOSTYMULATORY TKANKOWE</li>
      <li class="list-group-item">Nucleofil Medium<span>850 zł</span></li>
      <li class="list-group-item">Nucleofil Strong<span>850 zł</span></li>

      <li class="list-group-item list-group-item-primary">OKOLICA OCZU</li>
      <li class="list-group-item">Osocze bogatopłytkowe <span>400 zł</span></li>
      <li class="list-group-item">Fibryna bogatopłytkowa<span>500 zł</span></li>
      <li class="list-group-item">Nucleofil Eyes Soft <span>850 zł</span></li>

      <li class="list-group-item list-group-item-primary">MEZOTERAPIA IGŁOWA</li>
      <li class="list-group-item">Osocze bogatopłytkowe Twarz/ Blizny/Rozstępy/Dłonie 1 zabieg <span>700 zł</span></li>
      <li class="list-group-item">Twarz + szyja<span>1000 zł</span></li>
      <li class="list-group-item">Twarz + szyja + dekolt <span>1300 zł</span></li>
      <li class="list-group-item">Fibryna bogatopłytkowa Twarz/ Blizny/Rozstępy/Dłonie 1 zabieg<span> 800 zł</span></li>
      <li class="list-group-item">Twarz +szyja<span> 1100 zł</span></li>
      <li class="list-group-item">Twarz + szyja + dekolt <span>1400 zł</span></li>
      <li class="list-group-item"> Neauvia Hydro Deluxe 1 amp.<span>600 zł</span></li>
      <li class="list-group-item"> Neauvia Hydro Deluxe 2 amp.<span>1000 zł</span></li>
      <li class="list-group-item">Stymulacja skóry głowy 1 zabieg osoczem/fibryną<span>700 zł</span></li>
      <li class="list-group-item">1 zabieg Dr Cy<span>700 zł</span></li>

      <li class="list-group-item list-group-item-primary">Konsultacja</li>
      <li class="list-group-item">W przypadku wykonywania zabiegu na tej samej wizycie<span>0 zł</span></li>
      <li class="list-group-item"> W innym przypadku<span>200 zł</span></li>
    </ul>
  </div>


</div>


<app-footer></app-footer>
