.site-content--prizes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;

  &__tables-wrapper {
    width: 100%;
    margin: 0 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    margin-bottom: 5vh;
    letter-spacing: 1px;
    opacity: 0.8;
    text-align: center;
    margin-left: 5vh;
    margin-right: 5vh;
    line-height: 1.3;
  }
  span{
    padding-left: 30px;
  }

  .list-group {
    margin: 0 5vw;

    &-item {
      display: flex;
      justify-content: space-between;
      opacity: 0.9;
    }

    &-item-primary {
      text-align: center;

      width: 100%;
      margin: 0 auto;
    }
  }


}



@media only screen and (max-width: 1000px) {
  .site-content--prizes {
    //margin-top:25vh;
    h1{
      margin-left: 3vh;
      margin-right: 3vh;
    }
  }
}
